* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Lucida Sans", "Lucida Sans Regular", Verdana, sans-serif;
  min-height: 100dvh;
  width: 100%;
  margin: auto;
  align-items: center;
  background-color: #17181b;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}
#passwordGenerator {
  background-image: linear-gradient(125deg, rgb(6, 11, 19), rgb(12, 12, 56));
  background-repeat: no-repeat;
  max-width: 500px;
  width: 95%;
  min-height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 30px;
  box-shadow: 0 0 15px rgb(0, 0, 0) inset;
  border-radius: 15px;
  color: #fff;
  position: relative;
}
h2 {
  font-size: 1.4rem;
  color: #fff;
}
h2 span {
  font-size: 1.4rem;
  color: limegreen;
}
label,
span,
input,
input::placeholder,
.footer-text {
  font-size: 1rem;
  color: #fff;
}
.input_field {
  margin-top: 1rem;
  border: 1px solid #fff;
  width: 100%;
  height: auto;
  padding: 5px;
  display: flex;
  align-items: center;
  border-radius: 5px;
  position: relative;
}
.input_field > input {
  color: #fff;
  background-color: transparent;
  width: 100%;
  padding: 0.2rem 0;
  padding-left: 0.5rem;
  outline: none;
  border: none;
}
.input_field > input::placeholder {
  color: rgb(144, 159, 144);
  font-weight: 600;
}
.input_field img {
  display: none;
  width: 18px;
}
#options {
  margin: 1rem 0;
}
#options input[type="number"],
input[type="number"]::-webkit-inner-spin-button {
  outline: none;
  border: 0;
  appearance: none;
  -webkit-appearance: none;
  border-bottom: 1px solid #fff;
  color: #fff;
  background-color: transparent;
  border-radius: 5px;
  padding: 0.3rem 0;
  text-align: center;
}
#options input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  background-color: white;
  height: 12px;
  width: 12px;
  border-radius: 50%;
}
#options input[type="checkbox"]:checked {
  background-color: #fff;
  position: relative;
}
#options input[type="checkbox"]:checked::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(15, 136, 15);
  height: 8px;
  width: 8px;
  border-radius: 50%;
}
.charSetOption {
  white-space: nowrap;
  display: block;
  margin: 0.3rem;
}
button {
  align-items: center;
  background-color: transparent;
  border-radius: 5px;
  border: 2px solid rgb(177, 177, 177);
  color: #fff;
  cursor: pointer;
  display: flex;
  font-weight: 600;
  height: 35px;
  width: 120px;
  margin-top: 0.7rem;
  padding: 5px 20px;
  transition: background 0.5s ease;
}
button:hover {
  background-color: rgb(71, 166, 71);
}
button img {
  margin-right: 10px;
  width: 0.8rem;
}
#passwordHistory {
  background-color: #17181b;
  border-radius: 10px;
  box-shadow: 0 0 10px #000 inset;
  color: #fff;
  top: -60px;
  left: 0;
  height: 50px;
  max-width: 500px;
  overflow-x: auto;
  padding: 1rem;
  position: relative;
  position: absolute;
  width: 100%;
  transition: all 0.3s ease;
}
#passwordHistory::-webkit-scrollbar {
  display: none;
}
#passwordHistory > button {
  position: absolute;
  top: 0;
  right: 0;
  width: auto;
  border: none;
  margin: 0;
  padding: 0.5rem;
  background-color: #121212;
}
#passwordHistory button img {
  width: 1rem;
  margin: 0;
}
#passwordList::before {
  content: "Recent :";
  color: limegreen;
  margin-right: 15px;
}
#popup_overlay::before {
  content: "";
  width: 0;
  height: 0;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-top: 10px solid #007d1b;
  position: absolute;
  bottom: -8px;
  right: 10px;
}
#popup_overlay {
  position: absolute;
  background-color: #007d1b;
  top: 0;
  right: 0;
  padding: 0.2rem 0.4rem 0.4rem;
  border-radius: 5px;
  transition: all 0.3s ease;
  visibility: hidden;
  opacity: 0;
}
#popup_overlay.popup_show {
  top: -40px;
  opacity: 1;
  visibility: visible;
}
#popup_overlay span {
  font-size: 0.7rem;
  color: #fff;
}

footer {
  position: absolute;
  bottom: 0;
  color: #fff;
  background-color: #121212;
  width: 100%;
  text-align: center;
  padding: 1rem 0;
  box-shadow: 0 0 5px -3px #fff;
}
footer a {
  text-decoration: none;
  color: #fff;
}
footer a > img {
  border-radius: 50%;
  width: 2.6rem;
  height: 2.6rem;
  position: absolute;
  padding: 5px;
  background-color: #8e8e8e;
  right: 3%;
  bottom: 75px;
  transition: background 0.5s;
  animation: pulse 2s ease-in-out infinite;
}
footer a > img:hover {
  background-color: #d8d8d8;
}
@keyframes pulse {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(116, 116, 116, 0.7);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
  }

  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}

@media screen and (max-width: 768px) {
  h2,
  h2 span {
    font-size: 1rem;
  }
  label,
  span,
  input,
  input::placeholder {
    font-size: 0.9rem;
  }
  .footer-text {
    font-size: 0.7rem;
  }
  footer a > img {
    width: 2rem;
    height: 2rem;
    right: 5%;
  }
}
